@model IEnumerable<PokemonMysteryDungeonNPCGenerator.Models.Pokemon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsShiny)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HPSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPAttSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPDefSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpdSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HPTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPAttTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPDefTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpdTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overland)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sky)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Swim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Levitate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Burrow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighJump)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongJump)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acrobatics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Athletics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Command)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenEd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedEd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccEd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PokeEd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechEd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Focus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intimidate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intuition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stealth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survival)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsShiny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HPSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPAttSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPDefSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpdSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HPTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPAttTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPDefTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpdTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overland)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sky)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Swim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Levitate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Burrow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighJump)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongJump)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acrobatics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Athletics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Command)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenEd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedEd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccEd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PokeEd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechEd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Focus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intimidate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intuition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stealth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Survival)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PokemonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PokemonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PokemonId })
        </td>
    </tr>
}

</table>
